.form-section {
  height: 800px;
  background-image: url(./header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__wrap {
    max-width: 1340px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    & h2 {
      font-size: 70px;
      color: #0c53a5;
      font-weight: 300;
      font-family: "Bebas Neue", cursive;
      text-transform: uppercase;
    }
    & h3 {
      margin-top: 80px;
      font-size: 130px;
      color: #0c53a5;
      font-weight: 300;
      font-family: "Bebas Neue", cursive;
      text-transform: uppercase;
    }
    & h4 {
      margin-top: 40px;
      font-size: 40px;
      color: #0c53a5;
      line-height: 50px;
      font-weight: 300;
      font-family: "Bebas Neue", cursive;
      text-transform: uppercase;
    }
  }
  &__form {
    width: 456px;
    background-color: #ffcc01;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    & h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 40px;
      line-height: 42px;
      color: #0c53a5;
      font-weight: 400;
      text-transform: uppercase;
    }
    & h3 {
      font-family: "Segoe UI", sans-serif;
      font-size: 20px;
      color: #0c53a5;
      margin-top: 15px;
      text-transform: uppercase;
    }
  }
}

.form-input {
  &__initials {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__textarea,
  &__phone,
  &__email,
  &__lastName,
  &__name {
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #2b2b2b;
    display: inline-block;
    width: 183px;
    height: 52px;
    padding-left: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  &__phone,
  &__email {
    margin-top: 8px;
    width: 100%;
  }
  &__textarea {
    padding-top: 18px;
    margin-top: 8px;
    width: 100%;
    height: 105px;
  }
  &__button {
    cursor: pointer;
    margin-top: 28px;
    background-color: #0c53a5;
    width: 100%;
    height: 88px;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s;
    text-transform: uppercase;
    &:hover {
      background-color: white;
      color: #0c53a5;
    }
  }
}

@media screen and (max-width: 1400px) {
  .form-section {
    &__wrap {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .form-section {
    &__wrap {
      flex-direction: column;
    }
    &__description {
      margin-top: 40px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .form-section {
    &__description {
      & h2 {
        font-size: 50px;
      }
      & h3 {
        margin-top: 45px;
        font-size: 60px;
      }
      & h4 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form-section {
    background: none;
    &__wrap {
      height: 50px;
    }
    &__description {
      & h2 {
        font-size: 30px;
        color: #2b2b2b;
      }
      & h3 {
        margin-top: 30px;
        font-size: 55px;
        color: #2b2b2b;
      }
      & h4 {
        margin-top: 10px;
        font-size: 18px;
        color: #2b2b2b;
        margin-bottom: -30px;
      }
    }
    &__form {
      margin-top: -40px;
      transform: scale(0.7);
    }
  }
}
